*{
    margin: 0;
    padding: 0;

  color: #000000;
}

#banner {
    background: linear-gradient(rgb(255, 255, 255), rgba(138, 102, 14, 0.37));
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 100px;
    position: absolute;
    top: 50px;
    left: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
    margin-left: 20px;
  padding: 0;
    padding-top: 200px;
  width: 19%;
  background:transparent;
  position: fixed;
  height: 100%;
  overflow: auto;
}
li h2{
    display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
}



li a:hover:not(.active) {
  background-color: #16d5c5;
  color: #000000;
    border-radius: 10px 10px 10px 10px;
}
.container {
  padding: 2rem 0rem;
  padding-top: 100px;
    color: #020202;
}
li a.active {
  background-color: #18b7b7;
  color: #000000;
    border-radius: 10px 10px 10px 10px;
}
p{
    font-size: x-large;
    padding-top: 150px;
    padding-left: 150px;
}
input{
        width: 40%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    color: #faf4f4;
    outline: none;
    resize: none;

}
.container
{
    color: black;
}

input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgb(0, 0, 0);
  }
input[type=submit]
{
        background: #071a67;
        margin-left: 250px;
}
input[type=file]
{
        background: #303031;
    width: 50%;
    padding-left: 200px;
    margin-left: 200px;
}

  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #f8f8f8;
    margin-bottom: 12px;
  }

    .formbold-form-input,select {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    outline: none;
    resize: none;
        margin-bottom: 10px;
  }

  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }